 <div class="row">
     <div class="box">
         <div class="col-lg-12 text-center">
             <hr>
             <h1 class="intro-text text-center">About
                <em>Kyle Jones</em>
             </h1>
             <img class="img-responsive img-border img-left img-small" src="img/slide-6.jpg" alt=""> 
				
				<p>I am a Junior at Mercer University in Macon, Ga.  I am 23-years-old and have an obsession for racing.  Most day's you will find me in class or working for ESPN3.  However, on the weekends and in the summer I will be blistering down the quarter-mile race track @ 150 m.p.h.  Pretty cool right?  Well I think so. </p>
				<p>On a serious note, I am a journalism student and have dreams of becoming a sports broadcaster.  I would also like to attend Law School.  You can never have too many degrees.  I do work hard and my GPA reflects my work.  </p>
				<p>I am a very family oriented person.  My parents and girlfriend mean the world to me.  When I race they support me and when I'm not racing I like to relax with them on my day off.  I also have an English Bulldog, his name is Maverick.  His grandpap is UGA number 7.</p>  
                <p>I have dreams of becoming the next Howard Cosell, but until that time arrives, I want to be a hard worker and earn everything I receive.  When I graduate and get hired by a company my work will speak for itself.  I will always be present and will be the hardest worker in the building.</p>
             
			</div>
		</div><! --/row -->
	</div><! --/container -->
	