 <div class="row">
     <div class="box">
         <div class="col-lg-12 text-center">
             <hr>
             <h1 class="intro-text text-center">About
                <em>Kyle Jones</em>
             </h1>
             <img class="img-responsive img-border img-left img-small" src="img/slide-6.jpg" alt=""> 
				
				<p>Kyle is a Junior at Mercer University in Macon, Ga.  He is 23-years-old and has an obsession for racing.  Most day's you will find him in a class or working for ESPN3.  However, on the weekends and in the summer he will be blistering down the quarter-mile race track @ 150 m.p.h.  Pretty cool right? </p>
             
				<p>He is a journalism student and has dreams of becoming a sports broadcaster.  Kyle would also like to attend Law School.    He's a hard worker and his GPA reflects that.</p>
             
				<p>He is a very family oriented person. When Kyle races, he has support from his parents and girlfriend; and when he's not racing he likes to relax with them on the day off.  Kyle also has an English Bulldog, his name is Maverick.</p>
             
                <p>Kyle has dreams of becoming the next Howard Cosell, but until that time arrives, he wants to be a hard worker and earn everything he receives.  When Kyle graduates and is hired by a company his work will speak for itself.  He will always be present and will be the hardest worker in the building.</p>
             
			</div>
		</div><! --/row -->
	</div><! --/container -->
	