 <div class="row">
     <div class="box">
         <div class="col-lg-12 text-center">
             <hr>
             <h1 class="intro-text text-center"><em>Photographs and Blogs by Kyle</em>
             </h1>
             <hr>
             
             <hr class="visible-xs">
             <p>I have had experience with sports blogging sites. I did some blogging and articles for thespotonsports.com, which was a start up website by a couple of sports fans.  I also have experience in photography.  I like going to NHRA Drag Races and taking pictures of cars going over 300 m.p.h. in 1000 feet.  It is hard to keep up with the cars and get a good shot, but it is awesome when you can. Below you will find examples of my work.  Enjoy!</p>
             <br/>
             <br/>
             <br/>
             
             <h2>Blogs Once Published</h2>
                <ul style= "list-style: none;">
                    <li><a href= "https://docs.google.com/document/d/1-30kMNnPAVCjALscSz2oky4DO74KLy-wvv1OgQJWMgs/edit">Dallas Stars’ Peverley Resting Well After Close Call</a></li>
                    <li><a href= "https://docs.google.com/document/d/15ZachVLqxz8gXRgFccSFxx-UJ6600aGKZtA51PLufKc/edit">The Upset that Put Mercer University on the Map</a></li>
                    <li><a href = "http://www.macon.com/2014/11/05/3406851_what-mattered-to-midstate-voters.html?rh=1">What Mattered to Midstate Voters</a></li>
             </ul>
             
             <h2>Photography</h2>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <img src= "img/slide-9.jpg"/>
                                <img src= "img/slide-10.jpg"/>
                                <img src= "img/slide-11.jpg"/>
                                <img src= "img/slide-12.jpg"/>
                                <img src= "img/slide-13.jpg"/>
                                <img src= "img/slide-14.jpg"/>
                                <img src= "img/slide-15.jpg"/>
                            </td>
                        </tr>
                    </tbody>
                </table>
             </div>
        </div>
 </div>